{{define "home/index"}}
{{template "home/header" .}}
<section class="container">
	<div class="whtie container">
		<div class="col-xs-6 col-sm-5"><img src="img/yika.jpg"width="100%"height="100%"/></div>
		<div class="col-xs-6 col-sm-7 ss-font">{{.SiteName}} 让上网如此简单<br/><small>轻松上网 保护个人隐私</small><br/><a class="btn btn-success" href="#">免费注册</a></div>
	</div>
	<div class="container containt">
		<div class="row">
			<div class="col-xs-12 col-sm-5 containt_div"style="margin-top:2em;background-color: rgba(0,0,0,0.5);box-shadow:1px 1px 10px 5px #888888;">
				<img src="img/foundation.png"/><br/>
				<h3><strong>跨平台支持</strong></h3>
				<span>可以在PC(Windows和Linux)、MAC、手机(包括Android和iOS)以及部分路由器(OpenWRT)上工作。</span>
			</div>
			<div class="col-xs-12 col-sm-5 col-sm-offset-2 containt_div"style="margin-top:2em;background-color: rgba(0,0,0,0.5);box-shadow:1px 1px 10px 5px #888888; ">
				<img src="img/web.png"/><br/>
				<h3><strong>代码完全开源</strong></h3>
				<span>源码完全开放,由全世界各个感兴趣的开发者共同维护。</span>
			</div>
				<div class="col-xs-12 col-sm-5 containt_div"style="margin-top:2em;background-color: rgba(0,0,0,0.5);box-shadow:1px 1px 10px 5px #888888;">
				<img src="img/xiaolv.png"/><br/>
				<h3><strong>提高工作效率</strong></h3>
				<span>多线程工作,最大限度发挥上网速度,办公效率迅速提升，高速上网就是这么简单。</span>
			</div>
			<div class="col-xs-12 col-sm-5 col-sm-offset-2 containt_div"style="margin-top:2em;background-color: rgba(0,0,0,0.5);box-shadow:1px 1px 10px 5px #888888; ">
				<img src="img/mobile.png"/><br/>
				<h3><strong>轻量级，高安全</strong></h3>
				<span>工业级安全的加密，灵活的自定义算法！让您出去看世界！</span>
			</div>
		</div>

	</div>
</section>
{{template "home/footer" .}}
{{end}}
